root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
max_line_length = 110

[*.{xml,csproj,props,targets,appxmanifest,xaml,pubxml}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.ps1]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.cs]
# Namespaces
csharp_style_namespace_declarations = file_scoped:suggestion

# 'var' usage
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion

# Modern language features
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_prefer_simple_using_statement = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion

# Diagnostics
dotnet_diagnostic.IDE0005.severity = warning   # unnecessary using directives
dotnet_diagnostic.CA1816.severity = suggestion
